.full-page {
  background-color: rgba(0, 34, 41, 1);
  height: 100%;
}
.container {
  background: radial-gradient(
    circle,
    rgb(3, 42, 54) 0%,
    rgb(26, 26, 79) 52%,
    rgb(0, 34, 41) 78%
  );
  /*background-color: aqua;*/
  padding-top: 20px;
  padding-bottom: 20px;
  height: inherit;
}
.calculator.card {
  background-color: rgb(148, 255, 193);
}
.calculator {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(14, 6, 6, 0.429);
}

.calculator .display {
  height: 50px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1c1e20;
  color: white;
}

.calculator button {
  width: 100%;
  margin-bottom: 10px;
}

html,
body {
  height: 100%;
}
